div > p {
    font-size: 15px;
    color: blue;
}

input:focus {
    color: green;
    text-decoration: underline;
    font-size: 50px;
}

button:hover {
    font-size: 30px;
    color: red;
    background-color: blue;
    cursor: pointer;
}